################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/bin
/src/obj
/.vs
/.idea
/src/ClientApp/node_modules
/src/ClientApp/yarn.lock
/src/node_modules
/src/TheVueApp.csproj.user
/src/wwwroot/dist
